@import 'tailwindcss';

@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*@custom-variant dark (&:is(.dark *));*/


:root {
  --background: #fff;
  --foreground: #171717;

  --color-amber-50: oklch(0.987 0.022 95.277);
  --color-amber-100: oklch(0.962 0.059 95.617);
  --color-amber-200: oklch(0.924 0.12 95.746);
  --color-amber-300: oklch(0.77 0.18 80);
  --color-amber-400: oklch(0.828 0.189 84.429);
  --color-amber-500: oklch(0.769 0.188 70.08);
  --color-amber-600: oklch(0.666 0.179 58.318);
  --color-amber-700: oklch(0.555 0.163 48.998);
  --color-amber-800: oklch(0.473 0.137 46.201);
  --color-amber-900: oklch(0.414 0.112 45.904);
  --color-amber-950: oklch(0.279 0.077 45.635);

  /* sky */
  --color-sky-100: #e1f5fe;
  --color-sky-200: #b3e5fc;
  --color-sky-300: #81d4fa;
  --color-sky-400: #4fc3f7;
  --color-sky-500: #29b6f6;
  --color-sky-600: #039be5;
  --color-sky-700: #0277bd;

  /* mint */
  --color-emerald-100: #e0f9f3;
  --color-emerald-200: #baf1e3;
  --color-emerald-300: #91e8d3;
  --color-emerald-400: #89e2cf;
  --color-emerald-500: #62d3bb;
  --color-emerald-600: #3ac3a7;
  --color-emerald-700: #009f87;

  /* pink */
  --color-rose-100: #ffe0ed;
  --color-rose-200: #ffb3d2;
  --color-rose-300: #ff80b8;
  --color-rose-400: #f85ca1;
  --color-rose-500: #e6448e;
  --color-rose-600: #d42f7c;
  --color-rose-700: #b01163;

  /* lightPink */
  --color-pink-100: #ffeaf3;
  --color-pink-200: #ffd3e5;
  --color-pink-300: #ffc1db;
  --color-pink-400: #fbbad4;
  --color-pink-500: #f296c0;
  --color-pink-600: #e46ba7;
  --color-pink-700: #c84287;

  /* purple */
  --color-purple-100: #f6ebfe;
  --color-purple-200: #e6cefb;
  --color-purple-300: #d3a4f7;
  --color-purple-400: #bf7ef1;
  --color-purple-500: #a259df;
  --color-purple-600: #8434cc;
  --color-purple-700: #5f2496;

  /* gray */
  --color-gray-50: oklch(0.985 0.002 247.839);
  --color-gray-100: oklch(0.967 0.003 264.542);
  --color-gray-200: oklch(0.928 0.006 264.531);
  --color-gray-300: oklch(0.872 0.01 258.338);
  --color-gray-400: oklch(0.707 0.022 261.325);
  --color-gray-500: oklch(0.551 0.027 264.364);
  --color-gray-600: oklch(0.446 0.03 256.802);
  --color-gray-700: oklch(0.373 0.034 259.733);
  --color-gray-800: oklch(0.278 0.033 256.848);
  --color-gray-900: oklch(0.21 0.034 264.665);
  --color-gray-950: oklch(0.13 0.028 261.692);

  font-family: 'NeoDunggeunmo', sans-serif;
}

:root[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #fff;

  --color-amber-50: oklch(0.279 0.077 45.635);
  --color-amber-100: oklch(0.414 0.112 45.904);
  --color-amber-200: oklch(0.473 0.137 46.201);
  --color-amber-300: oklch(0.555 0.163 48.998);
  --color-amber-400: oklch(0.666 0.179 58.318);
  --color-amber-500: oklch(0.769 0.188 70.08);
  --color-amber-600: oklch(0.828 0.189 84.429);
  --color-amber-700: oklch(0.77 0.18 80);
  --color-amber-800: oklch(0.924 0.12 95.746);
  --color-amber-900: oklch(0.962 0.059 95.617);
  --color-amber-950: oklch(0.987 0.022 95.277);

  --color-sky-100: #0277bd;
  --color-sky-200: #039be5;
  --color-sky-300: #29b6f6;
  --color-sky-400: #4fc3f7;
  --color-sky-500: #81d4fa;
  --color-sky-600: #b3e5fc;
  --color-sky-700: #e1f5fe;

  --color-emerald-100: #009f87;
  --color-emerald-200: #3ac3a7;
  --color-emerald-300: #62d3bb;
  --color-emerald-400: #89e2cf;
  --color-emerald-500: #91e8d3;
  --color-emerald-600: #baf1e3;
  --color-emerald-700: #e0f9f3;

  --color-rose-100: #b01163;
  --color-rose-200: #d42f7c;
  --color-rose-300: #e6448e;
  --color-rose-400: #f85ca1;
  --color-rose-500: #ff80b8;
  --color-rose-600: #ffb3d2;
  --color-rose-700: #ffe0ed;

  --color-pink-100: #c84287;
  --color-pink-200: #e46ba7;
  --color-pink-300: #f296c0;
  --color-pink-400: #fbbad4;
  --color-pink-500: #ffc1db;
  --color-pink-600: #ffd3e5;
  --color-pink-700: #ffeaf3;

  --color-purple-100: #5f2496;
  --color-purple-200: #8434cc;
  --color-purple-300: #a259df;
  --color-purple-400: #bf7ef1;
  --color-purple-500: #d3a4f7;
  --color-purple-600: #e6cefb;
  --color-purple-700: #f6ebfe;

  --color-gray-50: oklch(0.13 0.028 261.692);
  --color-gray-100: oklch(0.21 0.034 264.665);
  --color-gray-200: oklch(0.278 0.033 256.848);
  --color-gray-300: oklch(0.373 0.034 259.733);
  --color-gray-400: oklch(0.446 0.03 256.802);
  --color-gray-500: oklch(0.551 0.027 264.364);
  --color-gray-600: oklch(0.707 0.022 261.325);
  --color-gray-700: oklch(0.872 0.01 258.338);
  --color-gray-800: oklch(0.928 0.006 264.531);
  --color-gray-900: oklch(0.967 0.003 264.542);
  --color-gray-950: oklch(0.985 0.002 247.839);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

footer {
  color: #666;
}

.underline-spacing {
  position: relative;
}

.underline-spacing:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--foreground);
  opacity: 0;
  transition: width 0.3s;
}

.underline-spacing:hover:after {
  width: 100%;
  opacity: 1;
}

.game-box {
  position: relative;
  margin: 1.75rem auto 2rem;
  background: url('/images/bookroom.png') no-repeat center center/cover;
  overflow: hidden;
}

.game-box .text-hello {
  position: absolute;
  top: 8%;
  right: 20%;
  padding: 1rem 1.75rem;
  background-color: #fff;
  font-size: 1.75rem;
  color: #333;
  border: 10px solid #333;
  border-radius: 10px;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}

.game-box img {
  transition: transform 0.3s ease-in;
}

.game-box img:hover {
  transform: scale(1.1, 1.1);
}

.game-box img:hover + p {
  transform: scale(1);
  opacity: 1;
}

@keyframes hello {
  0% {
    transform: scale(1.2, 1.2) rotateZ(10deg);
  }
  50% {
    transform: scale(1.2, 1.2) rotateZ(-10deg);
  }
  100% {
    transform: scale(1.2, 1.2) rotateZ(10deg);
  }
}

.classic > section:not(.home):first-of-type {
  padding-top: 5rem;
}